@using ERPKardex.Data
@inject ApplicationDbContext _context
@{
    ViewData["Title"] = "Registro de Producto";
    var empresaIdClaim = User.FindFirst("EmpresaId")?.Value;
    int empresaId = !string.IsNullOrEmpty(empresaIdClaim) ? int.Parse(empresaIdClaim) : 0;

    // CONTROL, AGROQUIMEX, COMEXDI
    var idsEmpresasQuimicos = _context.Empresas.Where(e => new[] { "20607778338", "20612680842", "20609093561" }.Contains(e.Ruc)).Select(e => e.Id).ToList();
    string classDnone = !idsEmpresasQuimicos.Contains(empresaId) ? "d-none" : "";
}

<div class="container-fluid py-4">
    <div class="row justify-content-center">
        <div class="col-lg-10">

            @* <div class="card shadow mb-4">
                <div class="card-header bg-dark text-white">
                    <h5 class="mb-0">Selección de Entidad</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label for="cbx_Empresa">Empresa</label>
                            <div class="input-group">
                                <select id="cbx_Empresa" class="form-control">
                                    <option value="">-- SELECCIONAR EMPRESA --</option>
                                </select>
                                <div class="input-group-append">
                                    <button id="btn_NuevaEmpresa" type="button" class="btn btn-info"
                                            onclick="loadMediumModal('/Producto/ObtenerVistaRegistroEmpresa', 'Nueva Empresa')">
                                        <i class="bi bi-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> *@

            <div class="card shadow mb-4">
                <div class="card-header bg-primary text-white">
                    <h5 class="mb-0">Información General del Producto</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label for="cbx_Grupo">Grupo</label>
                            <div class="input-group">
                                <select id="cbx_Grupo" class="form-control"></select>
                                @* <div class="input-group-append">
                                    <button id="btn_NuevoGrupo" type="button" class="btn btn-info" onclick="loadMediumModal('/Producto/ObtenerVistaRegistroGrupo', 'Nuevo Grupo')">
                                        <i class="bi bi-plus"></i>
                                    </button>
                                </div> *@
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="cbx_Subgrupo">Subgrupo</label>
                            <div class="input-group">
                                <select id="cbx_Subgrupo" class="form-control"></select>
                                @* <div class="input-group-append">
                                    <button id="btn_NuevoSubgrupo" type="button" class="btn btn-info" onclick="loadMediumModal('/Producto/ObtenerVistaRegistroSubgrupo', 'Nuevo Subgrupo')">
                                        <i class="bi bi-plus"></i>
                                    </button>
                                </div> *@
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="cbx_UnidadMedida">U. Medida</label>
                            <div class="input-group">
                                <select id="cbx_UnidadMedida" class="form-control"></select>
                                @* <div class="input-group-append">
                                    <button id="btn_NuevaUnidad" type="button" class="btn btn-info"
                                            onclick="loadShortModal('/Producto/ObtenerVistaRegistroUnidadMedida', 'Nueva Unidad de Medida')">
                                        <i class="bi bi-plus"></i>
                                    </button>
                                </div> *@
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="txt_DescripcionProducto">Nombre / Descripción del Producto</label>
                            <input type="text" id="txt_DescripcionProducto" class="form-control" placeholder="Nombre completo del artículo" oninput="this.value = this.value.toUpperCase();">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="txt_DescripcionProducto">Descripción comercial</label>
                            <input type="text" id="txt_DescripcionComercialProducto" class="form-control" placeholder="Descripción comercial completa" oninput="this.value = this.value.toUpperCase();">
                        </div>
                    </div>
                </div>
            </div>

            <div class="card shadow mb-4">
                <div class="card-header bg-info text-white">
                    <h5 class="mb-0">Especificaciones Técnicas y Químicas</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label for="cbx_Marca">Marca</label>
                            <div class="input-group">
                                <select id="cbx_Marca" class="form-control"></select>
                                @* <div class="input-group-append">
                                    <button id="btn_NuevaMarca" type="button" class="btn btn-info"
                                            onclick="loadShortModal('/Producto/ObtenerVistaRegistroMarca', 'Nueva Marca')">
                                        <i class="bi bi-plus"></i>
                                    </button>
                                </div> *@
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="cbx_Modelo">Modelo</label>
                            <div class="input-group">
                                <select id="cbx_Modelo" class="form-control"></select>
                                @* <div class="input-group-append">
                                    <button id="btn_NuevoModelo" type="button" class="btn btn-info"
                                            onclick="loadShortModal('/Producto/ObtenerVistaRegistroModelo', 'Nuevo Modelo')">
                                        <i class="bi bi-plus"></i>
                                    </button>
                                </div> *@
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="txt_Serie">Serie</label>
                            <input type="text" id="txt_Serie" class="form-control" placeholder="Nro de serie">
                        </div>
                    </div>
                    <div class="row @classDnone">
                        <div class="col-md-4 mb-3">
                            <label for="txt_Concentracion">Concentración (%)</label>
                            <input type="number" step="0.01" id="txt_Concentracion" class="form-control" placeholder="0.00">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="cbx_Formulacion">Formulación</label>
                            <div class="input-group">
                                <select id="cbx_Formulacion" class="form-control"></select>
                                @* <div class="input-group-append">
                                    <button id="btn_NuevaFormulacion" type="button" class="btn btn-info"
                                            onclick="loadMediumModal('/Producto/ObtenerVistaRegistroFormulacion', 'Nueva Formulación')">
                                        <i class="bi bi-plus"></i>
                                    </button>
                                </div> *@
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="cbx_Peligrosidad">Peligrosidad</label>
                            <div class="input-group">
                                <select id="cbx_Peligrosidad" class="form-control"></select>
                                @* <div class="input-group-append">
                                    <button id="btn_NuevaPeligrosidad" type="button" class="btn btn-info"
                                            onclick="loadMediumModal('/Producto/ObtenerVistaRegistroPeligrosidad', 'Nueva Peligrosidad')">
                                        <i class="bi bi-plus"></i>
                                    </button>
                                </div> *@
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label for="txt_Concentracion">Tipo de Insumo</label>
                            <select id="cbx_TipoInsumo" class="form-control"></select>
                        </div>
                        <div class="col-md-8 mb-3">
                            <label for="cbx_Formulacion">Número CAS</label>
                            <div class="input-group">
                                <input type="text" id="txt_NumeroCas" class="form-control" placeholder="Número CAS">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card shadow mb-4">
                <div class="card-header bg-warning text-dark">
                    <h5 class="mb-0">Composición / Ingredientes Activos</h5>
                </div>
                <div class="card-body">
                    <div class="row align-items-end">
                        <div class="col-md-6 mb-3">
                            <label for="cbx_IA_Busqueda">Ingrediente Activo</label>
                            <div class="input-group">
                                <select id="cbx_IA_Busqueda" class="form-control"></select>
                                @* <div class="input-group-append">
                                    <button type="button" class="btn btn-dark" onclick="loadShortModal('/Producto/ObtenerVistaRegistroIA', 'Nuevo Ingrediente')">
                                        <i class="bi bi-plus"></i>
                                    </button>
                                </div> *@
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="txt_IA_Porcentaje">Porcentaje</label>
                            <input type="text" id="txt_IA_Porcentaje" class="form-control" placeholder="Ej: 40%">
                        </div>
                        <div class="col-md-2 mb-3">
                            <button id="btn_AgregarIA" type="button" class="btn btn-success btn-block">
                                <i class="bi bi-plus-circle"></i> Añadir
                            </button>
                        </div>
                    </div>

                    <div class="table-responsive mt-3">
                        <table id="tbl_DetalleIA" class="table table-bordered table-hover text-center">
                            <thead class="thead-light">
                                <tr>
                                    <th>Ingrediente</th>
                                    <th>Porcentaje</th>
                                    <th>Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="card shadow mb-4 d-none">
                <div class="card-header bg-secondary text-white">
                    <h5 class="mb-0">Logística y Control</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label for="txt_Lote">Lote</label>
                            <input type="text" id="txt_Lote" class="form-control" placeholder="Código de lote">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="dtp_FechaFabricacion">Fecha Fabricación</label>
                            <input type="date" id="dtp_FechaFabricacion" class="form-control">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="dtp_FechaVencimiento">Fecha Vencimiento</label>
                            <input type="date" id="dtp_FechaVencimiento" class="form-control">
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-6 mb-3">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="chk_EsActivoFijo">
                                <label class="custom-control-label" for="chk_EsActivoFijo">¿Es Activo Fijo?</label>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="cbx_Estado">Estado del Producto</label>
                            <select id="cbx_Estado" class="form-control">
                                <option value="1" selected>ACTIVO</option>
                                <option value="0">INACTIVO</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-5">
                <div class="col-md-12 text-right">
                    <button id="btn_Cancelar" type="button" class="btn btn-danger">Cancelar</button>
                    <button id="btn_GuardarProducto" type="button" class="btn btn-success">Guardar Producto</button>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    var LISTA_DETALLE_IA = [];

    $(document).ready(function () {

        let comercialModificado = false; // Bandera de control
        // 1. Si el usuario escribe en el campo COMERCIAL, activamos la bandera
        $('#txt_DescripcionComercialProducto').on('input', function() {
            // Si el campo está vacío, permitimos que se vuelva a sincronizar
            if ($(this).val() === '') {
                comercialModificado = false;
            } else {
                comercialModificado = true;
            }
        });

        // 2. Lógica de copiado desde PRODUCTO
        $('#txt_DescripcionProducto').on('input', function() {
            // Solo copiamos si el usuario NO ha personalizado el campo comercial
            if (!comercialModificado) {
                $('#txt_DescripcionComercialProducto').val($(this).val());
            }
        });

        fct_InitAllCombos();

        // --- ENLACE GRUPO -> SUBGRUPO ---
        $('#cbx_Grupo').on('change', function () {
            let grupoId = $(this).val();
            if (grupoId) {
                fct_FillCombo('/Producto/GetSubgruposByGrupo?grupoId=' + grupoId, '#cbx_Subgrupo', 'id', 'descripcion', '-- SELECCIONAR SUBGRUPO --', 'codigo');
            } else {
                $('#cbx_Subgrupo').html('<option value="">-- SELECCIONAR SUBGRUPO --</option>').trigger('change');
            }
        });

        // --- ENLACE MARCA -> MODELO ---
        $('#cbx_Marca').on('change', function () {
            let marcaId = $(this).val();
            if (marcaId) {
                fct_FillCombo('/Producto/GetModelosByMarca?marcaId=' + marcaId, '#cbx_Modelo', 'id', 'nombre', '-- SELECCIONAR MODELO --', 'id');
            } else {
                $('#cbx_Modelo').html('<option value="">-- SELECCIONAR MODELO --</option>').trigger('change');
            }
        });

        // Botón añadir a tabla
        $("#btn_AgregarIA").click(function () {
            let idIA = $("#cbx_IA_Busqueda").val();
            let nombreIA = $("#cbx_IA_Busqueda option:selected").text();
            let porcentajeRaw = $("#txt_IA_Porcentaje").val().trim();

            if (!idIA || !porcentajeRaw) {
                toastr.warning("Seleccione un ingrediente e ingrese el porcentaje");
                return;
            }

            // Convertimos a número para que el JSON sea compatible con el decimal de C#
            let porcentajeNum = parseFloat(porcentajeRaw);

            if (isNaN(porcentajeNum)) {
                toastr.warning("El porcentaje debe ser un valor numérico");
                return;
            }

            // Evitar duplicados
            if (LISTA_DETALLE_IA.find(x => x.IngredienteActivoId == idIA)) {
                toastr.error("Este ingrediente ya fue añadido");
                return;
            }

            // Agregar al array
            LISTA_DETALLE_IA.push({
                IngredienteActivoId: Number(idIA),
                Nombre: nombreIA, // Se usa para la tabla visual, C# lo ignorará al mapear a DetalleIngredienteActivo
                Porcentaje: porcentajeNum // Ahora es numérico
            });

            fct_RenderizarTablaIA();

            // Limpiar inputs
            $("#cbx_IA_Busqueda").val("");
            $("#txt_IA_Porcentaje").val("");
        });

        $("#btn_GuardarProducto").click(function () {
                // 1. Recolección de Datos Maestro
                let producto = {
                    GrupoId: $("#cbx_Grupo").val(),
                    DescripcionGrupo: $("#cbx_Grupo").val() ? $("#cbx_Grupo option:selected").text() : null,
                    DescripcionComercial: $('#txt_DescripcionComercialProducto').val().trim(),
                    SubgrupoId: $("#cbx_Subgrupo").val(),
                    DescripcionSubgrupo: $("#cbx_Subgrupo").val() ? $("#cbx_Subgrupo option:selected").text() : null,
                    DescripcionProducto: $("#txt_DescripcionProducto").val().trim(),
                    Concentracion: parseFloat($("#txt_Concentracion").val()),
                    CodUnidadMedida: $('#cbx_UnidadMedida').val(),
                    CodFormulacionQuimica: $("#cbx_Formulacion").val(),
                    // Lote: $("#txt_Lote").val().trim(),
                    // FechaFabricacion: $("#dtp_FechaFabricacion").val(),
                    // FechaVencimiento: $("#dtp_FechaVencimiento").val(),
                    CodPeligrosidad: $("#cbx_Peligrosidad").val(),
                    MarcaId: $("#cbx_Marca").val() ? parseInt($("#cbx_Marca").val()) : null,
                    ModeloId: $("#cbx_Modelo").val() ? parseInt($("#cbx_Modelo").val()) : null,
                    Serie: $("#txt_Serie").val().trim(),
                    EsActivoFijo: $("#chk_EsActivoFijo").is(":checked"),
                    TipoInsumoId: $("#cbx_TipoInsumo").val(),
                    NumeroCas: $('#txt_NumeroCas').val().trim(),
                    Estado: $("#cbx_Estado").val() === "1",
                    // EmpresaId: 1 ? 1 : null // Empresa 1 por ahora, tiempo de desarrollo
                };

                // 2. Validaciones mínimas
                if (!producto.DescripcionProducto) {
                    toastr.warning("La descripción es obligatoria", "SISTEMA");
                    return;
                }

                // 3. Confirmación con SweetAlert2
                Swal.fire({
                    title: "¿Confirmar Registro?",
                    text: "Se guardará el producto y su lista de ingredientes.",
                    icon: "info",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    reverseButtons: true,
                    confirmButtonText: "Sí, guardar todo",
                    cancelButtonText: "Revisar"
                }).then((result) => {
                    if (result.isConfirmed) {

                        // 4. Envío de Datos
                        $.ajax({
                            url: "/Producto/RegistrarProductoCompleto",
                            type: "POST",
                            data: {
                                producto: producto,
                                detallesJson: JSON.stringify(LISTA_DETALLE_IA) // Enviamos el array global serializado
                            },
                            success: function (response) {
                                if (response.status) {
                                    toastr.success(response.message, "ÉXITO");
                                    // Redireccionar o limpiar formulario tras 1.5s
                                    setTimeout(() => { location.reload(); }, 1500);
                                } else {
                                    toastr.error(response.message, "ERROR");
                                }
                            },
                            error: function () {
                                toastr.error("Error crítico en el servidor");
                            }
                        });
                    }
                });
        });

        $('#btn_Cancelar').on('click', function() {
            window.location.href = '/Producto/Index';
        });

    });
    
    function fct_InitAllCombos() {
        // 1. Cargar datos inicialmente
        fct_FillCombo('/Producto/GetGrupos', '#cbx_Grupo', 'id', 'descripcion', '-- SELECCIONAR GRUPO --', 'codigo');
        fct_FillCombo('/Producto/GetMarcaData', '#cbx_Marca', 'id', 'nombre', '-- SELECCIONAR MARCA --', 'id');
        fct_FillCombo('/Producto/GetIngredienteActivoData', '#cbx_IA_Busqueda', 'id', 'descripcion', '-- SELECCIONAR INGREDIENTE --', 'id');
        fct_FillCombo('/Producto/GetUMedidaData', '#cbx_UnidadMedida', 'codigo', 'descripcion', '-- SELECCIONAR U. MEDIDA --', 'codigo');
        fct_FillCombo('/Producto/GetFQData', '#cbx_Formulacion', 'codigo', 'nombre', '-- SELECCIONAR FORMULACIÓN --', 'codigo');
        fct_FillCombo('/Producto/GetPeligrosidadData', '#cbx_Peligrosidad', 'codigo', 'descripcion', '-- SELECCIONAR PELIGROSIDAD --', 'codigo');
        fct_FillCombo('/Producto/GetTipoInsumoData', '#cbx_TipoInsumo', 'id', 'nombre', '-- SELECCIONAR TIPO DE INSUMO --', 'id');

        // 2. Inicializar hijos vacíos
        $('#cbx_Grupo').html('<option value="">-- SELECCIONAR GRUPO --</option>');
        $('#cbx_Subgrupo').html('<option value="">-- SELECCIONAR SUBGRUPO --</option>');
        $('#cbx_Modelo').html('<option value="">-- SELECCIONAR MODELO --</option>');

        // 3. Convertir a Select2 (puedes usar una clase común o IDs específicos)
        // Agregamos el buscador a los campos más pesados
        $('#cbx_Grupo, #cbx_Subgrupo, #cbx_Marca, #cbx_Modelo, #cbx_IA_Busqueda, #cbx_UnidadMedida').select2({
            theme: 'bootstrap4', // O el tema que estés usando
            placeholder: "Buscar...",
            allowClear: true,
            language: {
                noResults: function () {
                    return "No se encontraron resultados";
                }
            }
        });
    }
    
    function fct_RenderizarTablaIA() {
        let html = "";
        LISTA_DETALLE_IA.forEach((item, index) => {
            html += `<tr>
                <td>${item.Nombre}</td>
                <td>${item.Porcentaje}</td>
                <td>
                    <button type="button" class="btn btn-sm btn-danger" onclick="fct_EliminarIA(${index})">
                        <i class="bi bi-trash"></i>
                    </button>
                </td>
            </tr>`;
        });
        $("#tbl_DetalleIA tbody").html(html);
    }

    function fct_EliminarIA(index) {
        LISTA_DETALLE_IA.splice(index, 1);
        fct_RenderizarTablaIA();
    }

    function fct_FillCombo(url, id, valProp, txtProp, ph, extra) {
        $.getJSON(url, function (res) {
            let h = `<option value="">${ph}</option>`;
            if (res.status) res.data.forEach(i => h += `<option value="${i[valProp]}">${extra ? i[extra] + ' - ' : ''}${i[txtProp]}</option>`);
            $(id).html(h).trigger('change');
            // --- NUEVO: Refrescar Select2 si está inicializado ---
            if ($(id).hasClass("select2-hidden-accessible")) {
                $(id).trigger('change');
            }
        });
    }
</script>